.burnt-flower {
  height: 500px;
  margin: 0 auto;
  width: 500px;

  &__outer {
    transform-origin: center;
  }

  &__inner {
    transform-origin: center;

    .burnt-flower__layer {
      opacity: 0;
      transform-origin: center;
    }
  }

  .base-petal {
    fill: black;
  }
}

.cat-grid {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.cat-grid__block {
  width: 25%;
}
