.button {
  appearance: none;
  background-color: #1B1440;
  color: #fff;
  border: 1px solid #1B1440;
  box-shadow: none;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: 2px;
  min-height: 44px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}