@keyframes petalAnimation {
  from {
      transform: scale(0);
  }
  to {
      transform: scale(1);
  }
}

canvas {
  display: block;
}

#beehive {
  width: 100%;
  height: 100vh;
  background: #1B1440;
}